@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  background-size: cover;
  min-height: 1080px;
  background: #FFFBED url(../images/header-bg.png) no-repeat;
  @media (max-width: 1365px) {
    min-height: 1024px;
    background: #FFFBED url(../images/header-bg-med.png) no-repeat;
    background-size: cover;
  }
  @media (max-width: 767px) {
    min-height: 568px;
    background: #FFFBED url(../images/header-bg-small.png) no-repeat;
    background-size: cover;
  }

  &__top {
    height: 126px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    position: relative;
    @media all and (max-width: 767px) {
      position: static;
      height: 58px;
      padding: 8px 10px;
    }
  }

  .logo {
    @media all and (max-width: 767px) {
      width: 48px;
      height: 42px;
    }
  }

  .menu {
    @media (max-width: 1365px) {
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      background-color: #fffbed;
      max-width: 75%;
      top: -25%;
    }
    @media all and (max-width: 767px) {
      top: -250%;
    }

    &--open {
      top: 50%;
      transform: translateY(-50%);
      @media all and (max-width: 767px) {
        height: 568px;
        top: 0;
        //left: -11%;
        width: 100vw;
        padding-top: 26px;
        transform: unset;
        max-width: 100vw;
      }
    }
  }

  &__right-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 10px;
    @media (max-width: 1365px) {
      gap: 20px;
    }
    @media (max-width: 767px) {
      gap: 0;
    }
  }

  &__language-box {
    display: none;
    @media all and (max-width: 1365px) {
      padding: 8px;
      display: flex;
      gap: 8px;
    }
  }

  &__language {
    color: #9B9B99;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 19px;
    }

    &--active {
      color: $default;
      font-weight: 500;
    }
  }

  &__burger-btn {
    display: none;

    &--open {
      @media all and (max-width: 767px) {
        display: inline-block;
        position: absolute;
        right: 12%;
      }

    }


    @media all and (max-width: 1365px) {
      background: transparent;
      border: none;
      cursor: pointer;
      display: block;
    }
    @media all and (max-width: 767px) {
      padding: 0;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  &__phone {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: $default;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 30px;
    border-radius: 20px;
    margin-right: 10px;
    @media all and (max-width: 767px) {
      padding: 8px;
      font-size: 16px;
      line-height: 19px;
      margin: 0;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 30px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    background: transparent;
    border: 1px solid transparent;
    transition: all .3s;
    cursor: pointer;

    &:hover {
      border-color: #000000;

    }
  }

  .sign-btn {
    @media all and (max-width: 1365px) {
      display: none;
      border: none;
    }

    &--open {
      position: absolute;
      right: 35px;
      display: inline-block;
      @media all and (max-width: 767px) {
        top: 186px;
        right: 0;
        left: 0;
      }
    }

  }

  .login-btn {
    @media all and (max-width: 767px) {
      display: none;
    }

    &--open {
      @media all and (max-width: 1365px) {
       z-index: -1;
      }
      @media all and (max-width: 767px) {
        position: absolute;
        top: 236px;
        left: 0;
        right: 0;
        display: inline-block;
        z-index: unset;

      }

    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 106px;
    @media all and (max-width: 1365px) {
      padding-top: 0;
    }
    @media all and (max-width: 767px) {
      padding: 0 10px 0;
    }


  }

  &__content-box {
    max-width: 887px;
    padding: 60px 0;
    @media all and (max-width: 1365px) {
      max-width: 728px;
    }
    @media all and (max-width: 767px) {
      max-width: 100%;
    }
  }

  &__title {
    @extend %title-font;
    color: $default;
    font-size: 56px;
    line-height: 67px;
    text-align: center;
    margin-bottom: 40px;
    @media all and (max-width: 767px) {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 24px;
    }

  }

  &__text {
    font-weight: 300;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    margin-bottom: 58px;
    padding: 0 93px;
    @media all and (max-width: 1365px) {
      padding: 0;
    }
    @media all and (max-width: 767px) {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 24px;
    }

  }

  &__button-block {
    display: flex;
    justify-content: center;
    gap: 20px;
    @media all and (max-width: 767px) {
      gap: 8px;
    }
  }

  &__button {
    color: $default;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    padding: 24px 42px;
    text-align: center;
    background: #EDEDED;
    border-radius: 12px;
    border: none;
    transition: all .3s;
    max-width: 242px;
    outline: none;
    @media all and (max-width: 767px) {
      font-size: 16px;
      line-height: 19px;
      height: 43px;
      padding: 12px 13px;
    }

    &:hover {
      cursor: pointer;
      background: #FFE182;
      padding: 22px 34px;
    }

    &:focus {
      background: #FFE182;
      padding: 22px 34px;
    }

  }

  .sell-button {
    @media all and (max-width: 767px) {
      padding: 12px 7.5px;
    }

  }


}

.menu {
  &__list {
    display: flex;
    align-items: flex-start;
    padding: 0;
    gap: 40px;
    @media all and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }

  }

  &__list-link {
    font-size: 18px;
    line-height: 21px;
    color: $default;
  }
}

.main {
  background: url(../images/main-bg.png) no-repeat center;
  background-size: cover;
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1101px;
  @media all and (max-width: 1365px) {
    min-height: 717px;
    padding: 40px 30px;
  }
  @media all and (max-width: 767px) {
    min-height: auto;
    padding: 20px 10px;
  }


  &__inner {
    max-width: 1140px;
    background: #FFFBED url(../images/form-bg.png) no-repeat bottom center;
    background-size: cover;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    @media all and (max-width: 1365px) {
      background: #FFFBED;
      padding: 32px;
      max-width: 688px;
      flex-direction: column;
      gap: 58px;
    }
    @media all and (max-width: 767px) {
      max-width: 320px;
      padding: 20px;
      gap: 32px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 580px;
    @media all and (max-width: 1365px) {
      max-width: 100%;
    }
  }

  &__title {
    @extend %title-font;
    color: $default;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 40px;
    @media all and (max-width: 767px) {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 32px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    @media all and (max-width: 767px) {
      font-size: 16px;
      line-height: 19px;
    }

  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;

  &__fields {
    display: none;
    flex-direction: column;
    gap: 20px;
    @media all and (max-width: 1365px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .next-step {
    @media all and (max-width: 767px) {
      margin-top: 20px;
    }
  }

  .step--2 {
    @media all and (max-width: 1365px) {
      flex-direction: column;
      row-gap: 20px;
      column-gap: 40px;
      max-height: 262px;
    }

    @media all and (max-width: 767px) {
      flex-direction: column;
      row-gap: 20px;
      max-height: fit-content;
    }

    .form__label {
      @media all and (max-width: 1365px) {
        order: -1;
      }
      @media all and (max-width: 767px) {
        order: unset;
      }
    }

    .form__button {
      @media all and (max-width: 1365px) {
        min-width: fit-content;
        flex: auto;
        padding: 0;
      }

    }

    .form__button.prev-step {
      max-width: 105px;
      background-color: #EDEDED;
    }

    .form__button-box {
      gap: 8px;
    }
  }

  &__fields--open {
    display: flex;
  }


  &__label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media all and (max-width: 1365px) {
      max-width: 292px;
    }
    @media all and (max-width: 767px) {
      width: 100%;
    }
  }

  &__label:nth-child(5) {
    margin-bottom: 20px;
    @media all and (max-width: 1365px) {
      margin-bottom: 0;
    }

  }

  &__input {
    padding: 16px 8px;
    background: #FFF8E1;
    border-radius: 6px;
    color: #372e11;
    border: none;
    min-width: 320px;
    outline: none;
    @media all and (max-width: 1365px) {
      min-width: 292px;
    }
    @media all and (max-width: 767px) {
      min-width: fit-content;
    }

    &::placeholder {
      color: #8E825C;
    }
  }

  &__captcha {
    @media all and (max-width: 1365px) {
      max-width: 292px;
      height: 94px;
    }

  }

  &__captcha-img {
    width: 100%;
    height: 100%;
  }

  &__button-box {
    margin-top: 20px;
    display: flex;
    gap: 9px;
    @media all and (max-width: 767px) {
      margin-top: 4px;
    }
  }

  &__button {
    padding: 16px 40px;
    background: #FFE182;
    min-width: fit-content;
    border-radius: 12px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    @media all and (max-width: 1365px) {
      min-width: 292px;
      height: 51px;
      align-self: flex-end;
    }
    @media all and (max-width: 767px) {
      min-width: 100%;
      height: 51px;
      align-self: flex-end;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__checkbox {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  &__label-checkbox {
    font-family: PT Sans sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    color: #372E11;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    max-width: 250px;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid #0E493F;
      border-radius: 4px;
      cursor: pointer;
    }

  }

  &__label-checkbox > &__checkbox:checked + span::after {
    content: url("../images/checked.svg");
    position: absolute;
    top: 0;
    left: 0;
  }


  //&__label-checkbox:checked {
  //  &:after {
  //    content: url("../images/checked.svg");
  //    position: absolute;
  //    top: 0;
  //    left: 0;
  //  }
  //}
}

.footer {
  background-color: #372E11;
  padding: 80px 0;
  @media all and (max-width: 1365px) {
    padding: 32px 14px;
  }
  @media all and (max-width: 767px) {
    padding: 32px 10px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    color: #FFFBED;
    @media all and (max-width: 1365px) {
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 462px;
      align-content: space-between;
      gap: 48px;
    }
    @media all and (max-width: 767px) {
      flex-direction: column;
      flex-wrap: wrap;
      max-height: max-content;
      align-content: space-between;
      gap: 48px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__info-title {
    @extend %title-font;
    font-size: 24px;
    line-height: 29px;
  }

  &__info-box {
    display: flex;
    gap: 40px;
    @media all and (max-width: 1365px) {
      gap: 16px;
      flex-direction: column;
    }
  }

  &__info-item {
    max-width: 275px;
    font-size: 18px;
    line-height: 21px;
  }

  &__info-item-title {
    font-size: 18px;
    line-height: 21px;
  }

  &__info-item-phone {
    color: #FFFBED;
  }

  &__social {
    display: flex;
    flex-direction: column;
    gap: 24px
  }

  &__social-title {
    @extend %title-font;
    font-size: 24px;
    line-height: 29px;
  }

  &__social-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__social-link {
    color: #FFFBED;
    font-size: 20px;
    line-height: 23px;
  }

  &__copyright {
    display: none;
    @media all and (max-width: 1365px) {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #B9B3B3;
      display: block;
    }
    @media all and (max-width: 767px) {
      order: 1;
    }

  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__contacts-title {
    @extend %title-font;
    font-size: 24px;
    line-height: 29px;
  }

  &__contacts-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #FFFBED
  }

  .phone-link {
    font-family: Roboto sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: inherit;
  }

  .email-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: inherit;
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 32px;
    background: #FFE182;
    border-radius: 12px;
    text-align: center;
    font-family: Raleway sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    max-width: 172px;
    border: none;
    cursor: pointer;
    min-height: 48px;
  }
}


